<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <title>cap</title>
</head>
<body>
<div class="flex flex-col justify-center items-center w-screen h-screen">
    <h1 class="text-center text-2xl font-bold">ただいまメンテナンス中です</h1>
    <dl class="text-center text-lg font-bold mt-4">
        <dt>【終了予定時刻】</dt>
        <dd class="mt-2 text-red-600" th:text="${#temporals.format(close_at, 'yyyy/MM/dd HH:mm')}"></dd>
    </dl>
    <p class="text-center mt-4">ご利用の皆様にはご迷惑をおかけし、申し訳ございません。<br>メンテナンス終了までしばらくお待ちください。
    </p>
</div>
</body>
</html>