<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--suppress checkSelectColumnExistInMybatisResultmap -->
<mapper namespace="net.averak.cap.adapter.dao.mapper.extend.ProjectMapper">
    <resultMap id="ProjectWithCronJobsResultMap"
               type="net.averak.cap.adapter.dao.entity.extend.ProjectWithCronJobsEntity"
               extends="net.averak.cap.adapter.dao.mapper.base.ProjectBaseMapper.BaseResultMap">
        <collection property="cronJobs"
                    resultMap="net.averak.cap.adapter.dao.mapper.base.CronJobBaseMapper.BaseResultMap"
                    columnPrefix="cron_job__">
        </collection>
    </resultMap>

    <select id="selectAll" resultMap="ProjectWithCronJobsResultMap">
        SELECT DISTINCT project.*,

                        cj.id                              AS cron_job__id,
                        cj.project_id                      AS cron_job__project_id,
                        cj.expression                      AS cron_job__expression,
                        cj.command                         AS cron_job__command,
                        cj.docker_image_url                AS cron_job__docker_image_url,
                        cj.docker_image_tag                AS cron_job__docker_image_tag,
                        cj.container_environment_variables AS cron_job__container_environment_variables
        FROM project
                 LEFT JOIN cron_job cj ON project.id = cj.project_id;
    </select>
</mapper>